<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSqliteEncrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BDDC5471C2936EF00FD632C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDDC5601C2936EF00FD632C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDDC56B1C2936EF00FD632C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
